

<div class="login-page">
 
  <div class="overlay"></div>

 
  <div class="left-content">
    <h1>Welcome to the<br />Crowd Management System</h1>
  </div>

 
  <div class="login-card">
    <div class="card-header">
     
      <img src="/assets/images/logo.png" alt="Kloudspot" />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <label>Log In *</label>
      <input
        type="text"
        placeholder="Parking_solutions"
        formControlName="email"
      />

      <label>Password *</label>
      <div class="password-box">
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="********"
          formControlName="password"
        />
        <span class="eye" (click)="showPassword = !showPassword"> 👁 </span>
      </div>

      <button type="submit" [disabled]="loading">
        {{ loading ? "Logging in..." : "Login" }}
      </button>

      <p class="error" *ngIf="error">{{ error }}</p>
    </form>
  </div>
</div>
